@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] { display: none !important; }

@layer components {
    .btn-base {
        @apply hover:scale-105 hover:shadow-2xl ease-in-out duration-150;
    }
    .btn-icon {
        @apply w-5 h-5 group-hover:ml-1 transition-all ease-out duration-200;
    }
    .btn-title {
        @apply cursor-pointer uppercase hover:ml-1 transition-all ease-out duration-200;
    }
    .btn-img {
        @apply sm:translate-x-12 md:translate-x-0 rounded-2xl hover:scale-125 transition-all ease-out cursor-pointer duration-200;
    }
}

.max-height {
    height: calc(100vh - 9.625rem);
}

.iti {
    display: block !important;
}

.iti__selected-flag {
    padding: 0 10px;
}


